
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (User.Identity.IsAuthenticated)
{
    <div>
        welcome @User.Identity.Name
        <a asp-action="Logout" asp-controller="AccountLogin">Logout</a>
    </div>
}
